html, #popup{
	width:300px;
	height:400px;
	margin:0;
	padding:0;
	font-family:sans-serif;
}
#popup-content{
	overflow-y:scroll;
}
.digraph{
	width: 2.5em;
}
.character{
	width: 1.5em;
}
.fill{
	width:100%;
}
.shrink{
	width:fit-content;
}
.popup-form-item{
	padding:10px;
	display:flex;
	justify-content:space-between;
}
.group-header, .tab-header{
	background: #eee;
	font-weight:bold;
	color: #666;
}
.group-header{
	padding: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.popup-header{
	width: 100%;
	background: #ccc;
	border-bottom: 1px solid #999;
	justify-content:center;
	display:flex;
	position:sticky;
	top:0;
	
}
.popup-header-inner {
	display:flex;
	justify-content:space-between;
	width:95%;
	align-items:center;
	padding:0.5em;
}
.popup-header *{
	margin-top:0;
	margin-bottom:0;
}
.popup-header h3{
	font-weight: normal;
}
.shortcut-input-container, #shortcut-input {
	width: 125px;
}
#table-container, #digtab{
	width:100%;
}
#digtab{
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
	border-collapse:collapse;
}
